.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
desktop.ini
save.chr
*.log
*.autosave
*.o
*.a
*.dat
VEDA
VEDA.exe